{% extends 'base.html' %}


{% block head %}

<head>

  <style>

    #post-review {

      margin-top: 25px;
      display: flex;
      justify-content: center;
    }

    #post-btn {
      margin-top: 10px;
    }

    #user-reviews {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

  </style>

</head>

{% endblock %}


{% block content %}

<!--Row for product details -->
<div class="container-fluid">
  <div class="row">

    
    <!-- Container for the image gallery -->
    <div class="col-md-10 col-lg-5">
      <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
          <img src="img/images1/rolex1.jpg" class="slider-image" />
          <img src="img/images1/rolex2.jpg" class="slider-image" />
          <img src="img/images1/rolex3.jpg" class="slider-image" />

        </div>
        <div class="button-holder">
          <a href="#slider-image-1" class="slider-change"></a>
          <a href="#slider-image-2" class="slider-change"></a>
          <a href="#slider-image-3" class="slider-change"></a>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="col-md-3 col-lg-4">
      <div class="myBox">
        <font color="white">Specifications: <br><br>Make: Rolex<br> Model: Submariner <br> Year: 2015<br> Condition:
          used<br> Movement: Automatic<br><br> Description:<br>
          Almost new Rolex Submariner, used on a few occasions.
          Will come with original paperwork and boxes. Watch was purchased
          from Rolex Brisbane in November 2015. Great watch, never missed a beat. Lorem ipsum dolor sit amet,
          consectetur
          adipiscing elit. Etiam convallis efficitur commodo. Nulla iaculis, lectus in congue semper, quam dui mattis
          metus, sed bibendum erat sapien vel urna.
        </font>
      </div>
    </div>

    <!-- Bidding Tab -->
    <div class="col-md-4 col-lg-3">
      <div class="card">
        <div class="card-header">
          Auction:
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Auction ends in:<br>
              <font color="red">1d 11h 53m</font> <br><br>Starting Bid: $1,500 <br> Last Bid: $2,675 <br><cite>
                <font size="2" color="black">-placed by user andy88 at 21:33</font>
              </cite>
            </p>
          </blockquote>

          <input class="form-control" id="ex1" type="text" placeholder="Bid higher than $2,675">
          <br>
          <a href="#" class="btn btn-danger">Place Bid</a>
        </div>
      </div>
    </div>

  </div>



</div>

<!-- Row for posting review-->
<div class="row" id="post-review">
  <div class="col-lg-10">
    <form>
      <div class="form-group">
        <textarea class="form-control" id="review-text-area" rows="3"> Write Something... </textarea>

        <a href="#" class="btn btn-success" id="post-btn">Post Review</a>
      </div>
    </form>
  </div>
</div>

<!-- Row for reviews -->
<div class="row" id="user-reviews">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Reviews:
      </div>

      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Great Seller, bought a genuine rolex and am happy with the purchase, quick delievery and Item as explained.
          </p>
          <footer class="blockquote-footer">User knightrider3 <cite title="Source Title">10/08/2020</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Reviews:
      </div>

      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Great Seller, bought a genuine rolex and am happy with the purchase, quick delievery and Item as explained.
          </p>
          <footer class="blockquote-footer">User knightrider3 <cite title="Source Title">10/08/2020</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        Reviews:
      </div>

      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Great Seller, bought a genuine rolex and am happy with the purchase, quick delievery and Item as explained.
          </p>
          <footer class="blockquote-footer">User knightrider3 <cite title="Source Title">10/08/2020</cite></footer>
        </blockquote>

      </div>
    </div>
  </div>
</div>

  {% endblock %}